body {
    background-color: #1a1a1a;
    color: #f0f0f0;            
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1{
    color: #ffcc00; 
    font-family: "Courier New", Courier, monospace;
}

a {
    color: #00ff00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

